.login{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    position: relative;
    align-items: center;
    width: auto;
    height:720px;
    flex-wrap: wrap;
    
}

::placeholder{
    color:black;
    padding: 7px;
}



/* Client Login Box */

#heading-text{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.client{
    border-radius:7px;
    width:350px;
    height:220px;
    border: 2px solid #ddd;
    background: #c8c9ca7d;
    padding:10px;
    padding-left: 30px;
}



.email{
    border-radius: 5px;
    background-color: white;
    border: 0px;
    height:30px;
}



.password-client{
    border-radius: 5px;
    background-color: white;
    border:0px;
    height:30px;
    
}

/* Moderator login Box */

.mod-auth{
    border-radius: 7px;
    width:350px;
    height:220px;
    border: 2px solid #ddd;
    background: #c8c9ca7d;
    padding: 10px;
    padding-left: 30px;

}

.id-mod{
    border-radius: 5px;
    background-color: white;
    border: 0px;
    height:30px;

}

.password-mod{
    border-radius: 5px;
    background-color: white;
    border: 0px;
    height:30px;
    
}

/* Client-dash */
.c-dash{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height:720px;
    
}

#roads{
    margin-bottom:10px;
}
.road-type{
    width:400px;
    background-color:#6FBEDC;
    border-radius: 30px;
    padding-top:30px;
    
}

.c-dash select
{
width:250px;
height: 30px;
font-size: 20px;
border: 0px;
border-radius: 7px;
padding-left: 10px;
margin-bottom: 10px;
}

#id{

width:250px;
height: 30px;
font-size: 20px;
border: 0px;
border-radius: 7px;
padding-left: 10px;
margin-bottom: 10px;

}


#damage{
width:250px;
height: 30px;
font-size: 20px;
border: 0px;
border-radius: 7px;
padding-left: 10px;
}

.btn{
background: #4763AC;
border-radius: 10px;
width: 109px;
height: 45px;
font-size:20px;
font-family: 'Poppins', sans-serif;
border:0px;
color:aliceblue;
margin-bottom:20px;
}

